// 字体
@font-face {
  font-family: "JetBrainsMonoNL-Regular";
  src: url("/font/JetBrainsMonoNL-Regular.woff2");
}

@import "https://juzicoding.com/LXGWWenKaiMonoGBScreen/result.css";

// markdown中引用样式修改
blockquote {
  //border-color: #2980B9;
  background: #dff5ed;
  border-left: 0.3rem solid #3A9D78;
  border-radius: 0.3rem;
  padding: 0.6rem;
}

// 站点标题
.vp-site-name, #main-title {
  //font-weight: 500;
}